body {
    background-color: #000000;
    color: #90ee90;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: #90ee90;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
form {
    margin: auto;
    width: 50%;
    padding: 20px;
    border: 3px solid #90ee90;
    border-radius: 10px;
}
label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #90ee90;
    font-size: 25px;
}
input[type="file"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #90ee90;
    font-size: 20px;
    border: none;
    background-color: #000000;
    padding: 10px;
    border-bottom: 2px solid #90ee90;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #90ee90;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
