<!DOCTYPE html>
<html>
<head>
	<title>KEcolab : Remote Energy Measurement Lab</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<h1>KEcolab : Remote Energy Measurement Lab</h1>
	<form method="post" enctype="multipart/form-data">
		<label for="file1">Select File 1 (app.sh):</label>
		<input type="file" id="file1" name="file1" accept=".sh">
		<label for="file2">Select File 2 (app_idle.sh):</label>
		<input type="file" id="file2" name="file2" accept=".sh">
		<label for="file3">Select File 3 (app_baseline.sh):</label>
		<input type="file" id="file3" name="file3" accept=".sh">	
		<label for="app_name">Application Name:</label>
		<input type="text" id="app_name" name="app_name">
		<label for="app_version">Application Version:</label>
		<input type="text" id="app_version" name="app_version">
		<input type="submit" value="Upload">
	</form>
</body>
</html>